.container {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 65vh;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
      height: 35vh !important;
    }
  }
  @media only screen and (max-height:600px){
    .container{
      height: 35vw !important;
    }
  }